@import "./index.scss";

.list-item {
    width: 60vw;
    list-style: none;
    display: inline-grid;
    grid-template-columns: 1fr 3fr 4fr 2fr 1fr 1fr;
    border-bottom: 0.1rem solid $color1;

    p {
        font-size: 1.5rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.svg-container {
    font-size: 3.8rem;
    display: flex;
    align-items: center;
    svg {
        cursor: pointer;
        margin: 0 auto;
        display: block;
    }
}
.marked {
    color: $color1;
}

.unmarked {
    color: inherit;
}

.unmarked:hover {
    color: $color1
}

.marked:hover {
    color: inherit;
}
