@import "./index.scss";

.navigation-container {
    width: 75%;
    margin: 0 auto;
    color: $color4;
    border-radius: 5px;
    background-color: $color3;
    border: 1px solid rgba(128, 128, 128, 0.705);

    a {
        color: $color5;
    }
}

.navigation-grid {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 6fr 6fr;

    a {
        text-align: center;
        padding: 1rem;
    }

}