@import "./index.scss";

.navigation-container {
    width: 75vw;
    margin: 0 auto;
    color: $color4;
    border-radius: .3rem;
    background-color: $color3;
    border: 0.1rem solid rgba(128, 128, 128, 0.705);

}

.navigation-grid {
    width: 75vw;
    display: inline-grid;
    grid-template-columns: 6fr 6fr;

    div {
        font-size: 1.4rem;
        text-align: center;
        color: $color5;
        padding: 1rem;
    }

}