@import "./index.scss";

.search-container {
    margin: 1rem;
}

.search-form {
    width: 95%;
    display: inline-grid;
    grid-template-columns: 6fr 1fr;
    justify-content: stretch;
    padding: 1rem;
    
    input {
        padding: .5rem;
        font-size: 1rem;
        outline: none;
        border-radius: 3px;
        background-color: $color3;
        border: 1px solid rgba(128, 128, 128, 0.705)
    }

    input:focus {
        background-color: rgb(245, 245, 245);
    }

    button {
        padding: .5rem;
        font-size: 1rem;
        outline: none;
        border-radius: 3px;
        background-color: $color3;
        border: none;
        border: 1px solid rgba(128, 128, 128, 0.705);
        cursor: pointer;
        margin-left: 1rem
    }
}